---
import PageLayout from '../layouts/PageLayout.astro';
import docs from '../data/docs.yaml';
import Search from '../components/Search.astro';
const pageTitle = 'Home';
---

<PageLayout pageTitle={pageTitle}>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit aliquid
    commodi facilis necessitatibus in magni, odio ipsa sint debitis odit ducimus
    possimus, impedit nostrum, doloribus corrupti quisquam aspernatur quos
    inventore.
  </p>
  <Search />
  <hr />
  <ul class="grid | docs" role="list">
    {
      docs.map((section) => {
        return (
          <li>
            <h2>{section.title}</h2>
            <ul class="flow" role="list">
              <li>
                <a href={section.url}>{section.title}</a>
              </li>
              {section.articles.map((article) => {
                return (
                  <li>
                    <a href={article.url}>{article.title}</a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ul>
</PageLayout>
