---
import BaseLayout from './BaseLayout.astro';
import DocsMenu from '../components/DocsMenu.astro';
import TableOfContents from '../components/TableOfContents.astro';
import Help from '../components/Help.astro';
// import Breadcrumbs from '../components/Breadcrumbs.astro';
const { frontmatter, headings, url } = Astro.props;
const articleTitle = frontmatter.title;
const description = frontmatter.description;
---

<BaseLayout pageTitle={articleTitle}>
  <aside class="sidebar" id="sidebar">
    <nav class="sticky">
      <DocsMenu />
    </nav>
  </aside>
  <!-- <nav class="breadcrumbs">
    <Breadcrumbs frontmatter={frontmatter} url={url} />
  </nav> -->
  <aside class="table-of-contents">
    <nav class="sticky">
      <TableOfContents headings={headings} />
    </nav>
  </aside>
  <article class="flow | prose | content">
    <h1>{articleTitle}</h1>
    <p>{description}</p>
    <slot />
    <Help />
  </article>
</BaseLayout>
