---
import BaseLayout from './BaseLayout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import DocsMenu from '../components/DocsMenu.astro';
import Help from '../components/Help.astro';
import TableOfContents from '../components/TableOfContents.astro';
const { frontmatter, headings, url } = Astro.props;
const articleTitle = frontmatter.title;
const overview = frontmatter.overview;
---

<BaseLayout pageTitle={articleTitle}>
  <aside class="sidebar" id="sidebar">
    <nav class="sticky">
      <DocsMenu />
    </nav>
  </aside>
  <aside class="table-of-contents">
    <nav class="sticky">
      <TableOfContents headings={headings} />
    </nav>
  </aside>
  <article class="flow | prose | content">
    <nav class="breadcrumbs">
      <Breadcrumbs frontmatter={frontmatter} url={url} />
    </nav>
    <h1>{articleTitle}</h1>
    <p>{overview}</p>
    <slot />
    <Help />
  </article>
</BaseLayout>
