---
import data from '../data/metadata.yaml';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/styles.scss';
const { pageTitle, url } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={data.description} />
    <meta name="theme-color" content={data.themeColor} />
    <link rel="canonical" href=`${data.baseUrl}${url}` />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script>
      console.log(
        'Empty script tag reduces FF FOUC bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1404468'
      );
    </script>
    <title>{pageTitle}</title>
  </head>
  <body id="top">
    <Header />
    <main class="wrapper | region | layout">
      <slot />
    </main>
    <Footer />
    <script src="../scripts/mobileNav.js"></script>
    <script src="../scripts/setMenusBehavior.js"></script>
    <script src="../scripts/codeCopyButton.js"></script>
  </body>
</html>
